# @author SATO Kentaro
# @license BSD-2-Clause

name: Build and release

permissions:
  contents: write

on:
  push:
    branches: [master]
    tags: ['v[0-9]*']
    paths-ignore:
      - .*
      - '*[A-Z]'
      - '*.md'
      - '*.phpt'

env:
  basename: php_cbor
  configure_args: --enable-cbor

jobs:
  build-ext:
    runs-on: windows-2022
    if: github.ref_type == 'tag' || !startsWith(github.event.head_commit.message, 'Version ')

    strategy:
      max-parallel: 10
      matrix:
        isa: [x86, x64]
        ts: [nts, ts]
        php_ver: ['8.3']

    steps:
      - name: Resolve VC
        id: res_vc
        uses: ranvis/setup-php-sdk/vc-ver@mod2
        with:
          php_version: ${{ matrix.php_ver }}

      - name: Prepare names
        shell: pwsh
        run: |
          $typeId = "${{ matrix.php_ver }}-${{ matrix.ts }}-${{ steps.res_vc.outputs.vc }}-${{ matrix.isa }}"
          "TYPE_ID=$typeId" >> $env:GITHUB_ENV
          $key = "win-php-$typeId"
          "PHPSDK_CACHE_KEY=$key" >> $env:GITHUB_ENV
          $name = "${{ env.basename }}-${{ github.ref_name }}-$typeId"
          "ARTIFACT_NAME=$name" >> $env:GITHUB_ENV
          "GH_WORKSPACE=${{ github.workspace }}" >> $env:GITHUB_ENV
          "TARGET_ISA=${{ matrix.isa }}" >> $env:GITHUB_ENV

      - name: Restore PHP SDK from cache
        id: cache-phpsdk
        uses: actions/cache/restore@v4
        with:
          # php-sdk may better be downloaded from GitHub directly
          path: |
            php-bin
            php-dev
          key: ${{ env.PHPSDK_CACHE_KEY }}

      - name: Set up PHP SDK # also set up PATH
        id: get-sdk
        uses: php/setup-php-sdk@e2ce1c294f272ed93e8083f14649f5adadf93788 # ~2026-01-09
        with:
          version: ${{ matrix.php_ver }}
          ts: ${{ matrix.ts }}
          arch: ${{ matrix.isa }}

      - name: Save PHP SDK cache
        if: steps.cache-phpsdk.outputs.cache-hit != 'true' && steps.get-sdk.outcome == 'success'
        uses: actions/cache/save@v4
        with:
          path: |
            php-bin
            php-dev
          key: ${{ env.PHPSDK_CACHE_KEY }}

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          path: repo

      - name: Build
        shell: cmd
        run: |
          set "PHP_DIR=${{ steps.get-sdk.outputs.prefix }}"
          echo PHP_DIR=%PHP_DIR%>> %GITHUB_ENV%
          cd repo
          call .github\scripts\setup-env.bat
          call .github\scripts\build.bat

      - name: Archive
        id: archive
        shell: cmd
        run: |
          cd repo
          set "ARC_NAME=${{ env.ARTIFACT_NAME }}.zip"
          call .github\scripts\archive.bat

      - name: Upload preview
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-preview
          path: |
            ${{ steps.archive.outputs.arc_name }}
            ${{ env.PHP_DIR }}/ext/php_cbor.dll
            repo/CHANGELOG.md
            repo/LICENSE
            repo/README.md

      - name: Release
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844  # ~2022-11-21
        with:
          #draft: true
          #prerelease: true
          files: ${{ steps.archive.outputs.arc_name }}

      - name: Run tests
        id: test
        continue-on-error: true
        shell: cmd
        run: |
          cd repo
          call .github\scripts\setup-env.bat
          call .github\scripts\run-tests.bat

      - name: Save tests result
        if: always()
        uses: ranvis/gh-actions-php/save-result@v1
        with:
          id: "${{ env.TYPE_ID }}"
          outcome: "${{ steps.test.outcome }}"
          test-log: test_output.log

  summary:
    needs: build-ext
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Summarize
        uses: ranvis/gh-actions-php/summarize-results@v1
